<div style="font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; box-sizing: border-box;">
	<h1 style="text-align: center; color: #333; font-size: 2em; margin-bottom: 20px;">Admin Dashboard</h1>
	
	<div style="display: flex; flex-direction: row; gap: 20px; margin-bottom: 20px; align-items: flex-end;">
		<div style="flex: 1; padding: 20px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
			<h2 style="color: #333; font-size: 1.5em; margin-bottom: 10px;">Users (<span style="font-size: 1.2em;"><%= @users.count %></span>)</h2>
			<%= link_to 'Go to Users', users_path, style: "display: flex; justify-content: center; align-items: center; background-color: #28a745; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; width: 150px; height: 40px;" %>
		</div>
		
		<div style="flex: 1; padding: 20px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
			<h2 style="color: #333; font-size: 1.5em; margin-bottom: 10px;">Doctor Requests (<span style="font-size: 1.2em;"><%= @doctors.count %></span>)</h2>
			<%= link_to 'Go to Doctor Requests', requests_doctors_path, style: "display: flex; justify-content: center; align-items: center; background-color: #28a745; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; width: 150px; height: 40px;" %>
		</div>
		
		<div style="flex: 1; padding: 20px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
			<h2 style="color: #333; font-size: 1.5em; margin-bottom: 10px;">Appointments (<span style="font-size: 1.2em;"><%= @appointments.count %></span>)</h2>
			<%= link_to 'Go to Appointments', appointments_path, style: "display: flex; justify-content: center; align-items: center; background-color: #28a745; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; width: 150px; height: 40px;" %>
		</div>
	</div>
</div>
