<%= form_with(model: user, local: true) do |form| %>
  <%= render partial: 'application/errors', locals: { instance: user } %>

  <div style="margin-bottom: 20px;">
    <%= form.label :first_name, style: "font-weight: bold;" %><br>
    <%= form.text_field :first_name, style: "width: 100%; padding: 10px;" %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :last_name, style: "font-weight: bold;" %><br>
    <%= form.text_field :last_name, style: "width: 100%; padding: 10px;" %>
  </div>
  
  <div style="margin-bottom: 20px; display: flex; align-items: center;">
    <%= form.label :avatar, style: "font-weight: bold; margin-right: 10px;" %>
    <% if user.avatar.attached? %>
      <%= image_tag url_for(user.avatar), style: "width: 50px; height: auto; margin-right: 10px;" %>
      <p style="margin-right: 10px;"><%= user.avatar.filename %></p>
      <%= form.check_box :purge, style: "width: 20px; height: 20px; cursor: pointer;", checked: false %>
    <% else %>
      <%= image_tag 'placeholder.jpg', style: "width: 50px; height: auto; margin-right: 10px;" %>
      <p style="margin-right: 10px;">No avatar uploaded</p>
    <% end %>
    <%= form.file_field :avatar, style: "width: auto; padding: 10px; box-sizing: border-box;" %>
  </div>
  

  <div style="margin-bottom: 20px;">
    <%= form.label :gender, style: "font-weight: bold;" %><br>
    <%= form.select :gender, User.genders.keys.map { |w| [w.humanize, w] }, style: "width: 100%; padding: 10px;" %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :date_of_birth, style: "font-weight: bold;" %><br>
    <%= form.date_select :date_of_birth, start_year: Date.today.year - 100, end_year: Date.today.year, style: "width: 100%; padding: 10px;" %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :phone_number, style: "font-weight: bold;" %><br>
    <%= form.telephone_field :phone_number, style: "width: 100%; padding: 10px;" %>
  </div>

  <div>
    <%= form.submit "Update", style: "background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;" %>
 </div>
  
<% end %>
