<div id="<%= dom_id user %>" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 20px; margin-bottom: 20px; padding: 20px; border: 1px solid #ddd; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
  <div style="display: flex; flex-direction: column; justify-content: space-between;">
    <strong style="color: #333; font-size: 1.5em;"><%= user.full_name %></strong>
    <div style="display: flex; align-items: center; gap: 10px;">
      <% case user.role %>
      <% when 'patient' %>
        <div style="background-color: purple; color: #fff; padding: .375rem .75rem; border-radius: .25rem;"><%= user.role %></div>
      <% when 'doctor' %>
        <div style="background-color: magenta; color: #fff; padding: .375rem .75rem; border-radius: .25rem;"><%= user.role %></div>
      <% when 'admin' %>
        <div style="background-color: crimson; color: #fff; padding: .375rem .75rem; border-radius: .25rem;"><%= user.role %></div>
      <% end %>
      <% case user.status %>
      <% when 'pending' %>
        <div style="background-color: #ffc107; color: #fff; padding: .375rem .75rem; border-radius: .25rem;"><%= user.status %></div>
      <% when 'active' %>
        <div style="background-color: #28a745; color: #fff; padding: .375rem .75rem; border-radius: .25rem;"><%= user.status %></div>
      <% when 'deleted' %>
        <div style="background-color: #dc3545; color: #fff; padding: .375rem .75rem; border-radius: .25rem;"><%= user.status %></div>
      <% end %>
    </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 10px;">
    <%= link_to 'View', user_path(user), style: "color: #fff; background-color: #28a745; border-color: #28a745; display: block; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; margin-bottom: 10px; text-decoration: none;" %>
    <%= link_to 'Edit', edit_user_path(user), style: "color: #fff; background-color: #ffc107; border-color: #ffc107; display: block; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; margin-bottom: 10px; text-decoration: none;" %>
    <%= button_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, style: "color: #fff; background-color: #dc3545; border-color: #dc3545; display: block; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; text-decoration: none;" %>
  </div>
</div>
