<div id="<%= dom_id appointment %>">
  <p>
    <strong>Scheduled time:</strong>
    <%= appointment.scheduled_time %>
  </p>

  <p>
    <strong>Duration minutes:</strong>
    <%= appointment.duration_minutes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= appointment.status %>
  </p>

  <p>
    <strong>Patient user:</strong>
    <%= appointment.patient_user_id %>
  </p>

  <p>
    <strong>Doctor user:</strong>
    <%= appointment.doctor_user_id %>
  </p>

</div>
