<%= form_with(model: appointment, html: { style: 'display: flex; flex-direction: column; max-width: 600px; margin: auto;' }) do |form| %>
  <%= render partial: 'application/errors', locals: { instance: appointment } %>

  <div style="margin-bottom: 20px;">
    <%= form.label :scheduled_time, style: "display: block; font-weight: bold;" %>
    <%= form.datetime_field :scheduled_time, style: "width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :duration_minutes, style: "display: block; font-weight: bold;" %>
    <%= form.number_field :duration_minutes, style: "width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" %>
  </div>

  <div style="margin-bottom: 20px;">
    <%= form.label :doctor_id, style: "display: block; font-weight: bold;" %>
    <%= form.collection_select :doctor_id, User.doctors, :id, :full_name, style: "width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" %>
  </div>

  <div>
    <%= form.submit 'Submit', style: "background-color: #4CAF50; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 5px;" %>
  </div>
<% end %>
