<%= form_with(url: profile_path, model: profile, local: true) do |form| %>
  <%= render partial: 'application/errors', locals: { instance: profile } %>

  <div style="margin-bottom: 20px;">
    <%= form.label :chamber_address, style: "font-weight: bold;" %><br>
    <%= form.text_area :chamber_address, style: "width: 100%; padding: 10px;" %>
  </div>

  <div>
    <%= form.submit "Update", style: "background-color: #3f51b5; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;" %>
  </div>
<% end %>
